* {
  padding: o;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/*--------------
 Section Head
  --------------*/
section.head {
  padding: 3vh 10vw 10vh 15vw;
  background: #e6e6e6;
  height: 15vh;
}

section > h1 {
  text-transform: uppercase;
  font-weight: 520;
}

section h4 {
  color: grey;
  font-weight: 400;
}

/*--------------
 Section Navbar
  --------------*/

nav.container {
  height: 10vh;
  width: 150vw;
  padding: 3vh 10vw 5vh 15vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-between;
}
.navbar1 a {
  padding: 5px 20px 10px 20px;
  margin-right: 60px;
  height: 4vh;
  text-decoration: none;
  text-align: center;
  transition: background 0.5s;
}

a:hover {
  background: #e6e6e6;
  border-radius: 10px;
}

@media (max-width: 600px) {
  nav.container {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    height: 20vh;
    align-items: flex-start;
  }
}

/*--------------
Image image_1
  --------------*/
.image_1 {
  width: 100vw;
}

/*--------------
 Section paragraph_1
  --------------*/

section.description_1 div > p {
  font-size: 14px;
}

section.description_1 > div > h3 {
  padding-bottom: 10px;
  text-transform: capitalize;
  width: 30vw;
}

section.description_1 {
  margin: 3vh 5vw 10vh 10vw;
  border: 2px solid block;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 100vh;
  width: 70vw;
  flex-wrap: wrap;
}
.description_1 > div {
  flex: 1 1 50%;
}
@media (max-width: 600px) {
  .description_1 > div {
    flex: 1 1 100%;
  }
  section.description_1 {
    height: 120vh;
  }
}
.icons > a {
  font-size: 4vw;
  color: #5a5a5a;
}

/*--------------
 Section footer
  --------------*/
.mainfooter {
  background: rgb(108, 108, 253);
  height: 25vh;
}

.footer h5 {
  font-size: 1.1rem;
}

.footer li {
  list-style: none;
}
section.footer {
  padding-top: 5vh;
  margin: 3vh 5vw 0vh 10vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 20vh;
  width: 70vw;
  flex-wrap: wrap;
}

section.footer > div {
  width: 100px;
  height: 100px;
  flex: 1 1 20%;
}

@media (max-width: 600px) {
  section.footer > div {
    flex: 1 1 100%;
  }
  .mainfooter {
    height: 60vh;
  }
}
.footer li {
  border: 2px solid block;
}
